<ion-view view-title="Nuova Segnalazione">
    <ion-content><br>
        <form name="myForm">
            <div class="list">
                <label class="item item-input">
                    <textarea placeholder="Descrizione"
                              ng-model="segnalazione.descrizione"
                              ng-minlength="5"
                              ng-maxlength="10"
                              required></textarea>
                    <div ng-messages="myForm.descrizione.$error" ng-if="myForm.descrizione.$touched">
                        <p ng-message="minlength">Your name is too short.</p>
                        <p ng-message="maxlength">Your name is too long.</p>
                        <p ng-message="required">Your name is required.</p>
                    </div>
                </label>
            </div>
            <button class="button button-outline button-positive" ng-click="chooseOffice()">
                Seleziona l'ufficio
            </button>
            <br><br>
            <div class="list" ng-show="segnalazione.ufficio.descrizione">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-settings"></i>
                    {{segnalazione.ufficio.descrizione}}
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-pinpoint"></i>
                    {{segnalazione.ufficio.via}}
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-map"></i>
                    {{segnalazione.ufficio.comune.descrizione}}
                </a>
            </div>
            <br>

            <button class="button button-stable button-block" ng-click="submit()">Invia....</button>
            </form>

    </ion-content>
</ion-view>

